{% extends 'base.html' %}
{% load static %}
{% block content %}



 <br>
 <br>  
<h2 class="text-center mb-4"><strong>New Password</strong></h2>
    <!-- Contact Section Begin -->
    <section class="contact spad">

        <div class="container">

                <div class="col-lg-10 col-md-10">

                    <div class="contact__form">
                        {% if msg %}
                            <b style="color: #0073e6;">{{msg}}</b>
                        {% endif %}
                        <form method="post" action="{% url 'new-password' %}">
                            {% csrf_token %}
                            <input type="hidden" name="email" value="{{email}}">
                            <div class="row">
                                
                                <div class="col-lg-10">
                                    <input type="password" placeholder="New Password" name="new_password" style="color:black;">
                                </div>
                                <div class="col-lg-10">
                                    <input type="password" placeholder="Confirm New Password" name="cnew_password" style="color:black;">
                                </div>
                               
                                <div class="col-lg-10">
                                    
                                    <button type="submit" class="site-btn">Update Password</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- Contact Section End -->


    <!-- Search Begin -->
    <div class="search-model">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <div class="search-close-switch">+</div>
            <form class="search-model-form">
                <input type="text" id="search-input" placeholder="Search here.....">
            </form>
        </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'js/jquery.nicescroll.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'js/jquery.slicknav.js' %}"></script>
    <script src="{% static 'js/mixitup.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
{% endblock %}